.chat-wrapper {
    height: 100vh;
    overflow: hidden; }
.chat-wrapper .chat-body {
    position: relative;
    height: calc(100% - 70px);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-top: 5rem;
    scroll-behavior: smooth; }
.chat-wrapper .chat-body::-webkit-scrollbar {
    display: none; }
.chat-wrapper .chat-body .msg {
    max-width: 60%;
    margin-bottom: 1rem;
    -webkit-animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-tl 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
.chat-wrapper .chat-body .msg.personal {
    text-align: right;
    margin-left: auto;
    -webkit-animation: scale-in-tr 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-tr 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
.chat-wrapper .chat-body .msg.personal .msg-usr {
    display: none; }
.chat-wrapper .chat-body .msg.same-user {
    margin-top: -1rem; }
.chat-wrapper .chat-body .msg.same-user .msg-usr {
    display: none; }
.chat-wrapper .chat-body .msg.info {
    margin: auto;
    text-align: center;
    color: #777;
    -webkit-animation: scale-in-cn 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-cn 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
.chat-wrapper .chat-body .msg .msg-usr {
    font-weight: 800;
    font-size: 0.8em; }
.chat-wrapper .chat-body .msg .msg-body {
    padding: 0.5rem 1rem;
    background-color: #efefef;
    border-radius: 1rem;
    display: inline-block; }
.chat-wrapper .chat-body #the-input {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    width: calc(100% - 12rem);
    padding: 1rem;
    border-bottom: 3px solid #efefef;
    outline: 0px solid transparent;
    margin: auto;
    transform: translateX(-50%); }
.chat-wrapper .chat-body #send-msg {
    position: fixed;
    bottom:2rem;
    right:6rem;
    padding:0.5rem 1rem;
    border:1px solid #ccc;
    border-radius:3px;
    cursor: pointer;
    transition:all 0.3s;
}
.chat-wrapper .chat-body #send-msg:hover {
    background-color:#D24A42;
    color:#fff;
}
.chat-wrapper .chat-body #the-input::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #D24A42;
    transition: all .3s; }
.chat-wrapper .chat-body #the-input.is-focused::after {
    width: 100%; }

#chat-main {
    transition: all 0.3s;
    opacity: 0; }
#chat-main.is-visible {
    opacity: 1; }

#overlay-name-input {
    background-color: #D24A42;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    flex-direction: column;
    z-index: 5; }
#overlay-name-input.is-visible {
    width: 100%; }
#overlay-name-input #name-input {
    font-size: 3rem;
    margin-bottom: 2rem;
    background-color: #eac2c0;
    text-align: center;
    border-radius: 15px;
    color: #a19595;
    width: 80%;
    border: 0px; }
#name-input::placeholder{
    color: #b2545f !important;
    font-size:18px;
    margin:0px;padding:0px;
    bottom:7px;
    text-decoration: underline;
    position:relative;
}
#overlay-name-input #name-input::-moz-placeholder {
    color: #fff; }
#overlay-name-input #name-input:-ms-input-placeholder {
    color: #fff; }
#overlay-name-input #name-input::-ms-input-placeholder {
    color: #fff; }
#overlay-name-input #name-input::placeholder {
    color: #fff; }

#status-window{
    border-right: red 2px dashed;
    max-width: 17em;
}

#status-window > h1{
    font-size: 1.3em;
}

.status-bulb{
    width: 5%;
}

.back-btn, .option-btn{
    padding: 1em;
    width: 5%;
}

.option-btn{
    width: 5%;
}

.name-label{
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.status-bar{
    height: 10%;
}

.send-message{
    height: 10%;
    display: flex;
    align-items: end;
    padding-bottom: 1em;
}

#chat-messages{
    height: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    overflow-y: auto;
    max-height: 38em;
}

.attachment{
    width: 5%;
    height: 3em;
    padding-left: 1em;
}

#msg-input{
    width: 80%;
    height: 3em;
}

#send-btn{
    width: 15%;
    height: 3em;
}

.msg-type-1{
    text-align: center;
    color: darkslategray;
    font-size: 1.2em;
}

.msg-type-2{
    text-align: left;
    background-color: lightblue;
    width: max-content;
    padding: 1em;
    border-radius: 1em;
    max-width: 80%;
}

.msg-type-3{
    text-align: right;
    background-color: lightgreen;
    width: max-content;
    padding: 1em;
    border-radius: 1em;
    max-width: 80%;
    align-self: end;
}

.online-square, .offline-square{
    width: 16px;
    height: 16px;
    border-radius: 1em;
    margin-right: 1em;
}

.online-square{
    background-color: green;
}

.offline-square{
    background-color: gray;
}

.status{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name{
    font-size: 1.5em;
}

.status-name{
    font-size: 1.5em;
}

.status-bulb{
    margin-top: 0.3em;
}

.notification{
    margin-left: 1em;
    display: flex;
    align-items: center;
}

.not-on{
    width: 16px;
    height: 16px;
    border-radius: 1em;
    background-color: blue;
}

.not-off{
    display: none;
}